
body{
  background-color: black;
}

.container-fluid {
  padding: 3% 5%;
}


/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem 0;
}
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 1.5rem bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#main-image{
  max-width: 100%;
}
  



/* *** ABOUT US *** */
#about-us {
  text-align: center;
  color: #fff;
  background-color: #201A15;
}
.download-button {
  margin: 5% 3% 5% 0;
}

/* *** END ABOUT US *** */

/* LOCATION SECTION */
#location {
  background-color: #dbd653;
  padding-bottom: 40px;

  /* margin: 20px; */
}
#hours  {
  text-align: center;
  padding-left: 20px;
  color: black;
  text-transform: uppercase;
}

.section-text {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;

}
/* END LOCATION SECTION */

/* RESOURCES */
#resources  {
  padding-bottom: 40px;
}
.black-heading  {
  color: white;
}
.black-heading2  {
  color: white;
  padding-top: 70px;
}
.repair-p {
  color: white;
}
.block1  {
  display: inline-block;
  width: 230px;
  padding-left: 45px;

  padding-right: 70px;
}

.block2 {
  display: inline-block;
  width: 230px; 
   padding-right: 70px;
   padding-left: 45px;

}
.block2 img{
  padding-top: 20px;
  display: inline-block;
  max-width: 110%;
  text-align: center;
  height: auto;
}
.block3  {
  display: inline-block;
  width: 230px;
  height: 100px;
  padding-right: 50px;
  padding-left: 70px;

}




