
body{
  background-color: black;
}

h1 {
  font-family: 'Oleo Script';
  color: #fff;
  text-align: center;
  padding-right: 22px;
}
.container-fluid {
  padding: 3% 5%;
}

.spacer {
  height: 150px;
}

hr{
  color: #808389;
  font-size: 3rem;

  margin-top: 0.5em;
  margin-bottom: 0.5em;
 
  border-width: 1px;
}

.section {
  width: 100%;
  height: 100vh;
}

.main section.home,.main section.about-us,
.main section.about-us, .main section.repair,.main section.classes{
  background: #000000;
  margin-bottom: 20px;
}

.section-headline {
  font-size: 1.75rem;
  color: #fff;
}

/* NAV BAR */

.navbar-brand {
  font-family: 'Oleo+Script';
  font-size: 1.5rem;
}

a {
  color: #fff !important;
}
.nav-item {
  padding: 0 18px;
  color: #fff !important;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
 border: 1px solid #523F79;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #DD362A !important;
  font-weight: bold;
  font-size: 1.3rem
 
}

.sticky-top {
  position: Sticky !important;
}
  /* END NAV BAR */

  .jumbotron {
    background-color: transparent;
    padding: 0 !important;
    
  }
  #main-image{
    display: block;
    max-width: 80%;
   margin: auto;
    text-align: center;
  }

  #second-image {
    display: block;
    max-width: 60%;
   margin: auto;
    text-align: center;
  }
.our-story {
  clear: both;
}
#about-image {
  max-width: 100%;
  float: left;
}

.main-img {

  margin-top:106px;
}

/* @media (max-width: 1330px) {
  #main-image {
    margin: 10px 8px 10px 8px;
  }
} */



@media (max-width: 991px){
.dropdown-menu {
    position: absolute;
    width: 427px !important;
}
.link-header p {
  font-size: 1rem !important;
}

.fixed-top {
  position: relative !important;
}
}

/* @media (min-width: 760px) {
  #shop-buttons {
    margin: 0 0 0 40px;
  }
}  



*/
 /* SHOP SECTION  */

 #quick-shop {
   margin-bottom: 175px;
 }



.carousel {
  margin-top: 40px;
}

/* ABOUT US */
.about-us {
  text-align: center;
  color: #fff;
  background-color: black;
}


.our-story {
  font-family: 'Assistant', sans-serif;
}

/* END ABOUT US */

/* LOCATION SECTION */
.location {
  background-color: #dbd653;
  padding-bottom: 40px;

  /* margin: 20px; */
}
.hours  {
  text-align: center;
  padding-left: 20px;
  color: black;
  text-transform: uppercase;
}

.section-text {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;

}
/* END LOCATION SECTION */

#class-container{
  justify-content: center;
    display: flex;
    text-align: center;
}
/* RESOURCES */
#resources  {
  padding-bottom: 40px;
}
.black-heading  {
  color: white;
}
.black-heading2  {
  color: white;
  padding-top: 70px;
  text-align:center;
}
.repair-p {
  color: white;
}
.block1  {
  display: inline-block;
  width: 230px;
  padding-left: 45px;

  padding-right: 70px;
}

.block2 {
  display: inline-block;
  width: 230px; 
   padding-right: 70px;
   padding-left: 45px;

}
.block2 img{
  padding-top: 20px;
  display: inline-block;
  max-width: 110%;
  text-align: center;
  height: auto;
}
.block3  {
  display: inline-block;
  width: 230px;
  height: 100px;
  padding-right: 50px;
  padding-left: 70px;

}

.dropdown-menu{
  background-color: #fff;
  width:925px;
} 

.dropdown-item {
  color: #000000 !important;
  /* background-color: #000000 !important; */
  
  
}
.shop-categories {
  list-style-type: none;
  padding: 0;
}

.dropdown-header:hover {
  color: #2463C5;
}
.dropdown-item:hover{
  background-color:#2463C5 !important;
  color: #fff !important;
  cursor: pointer;
  width: 179px;
}

.link-header p {
  font-size: 1.3rem;
  text-decoration: underline;
}
.disabled h3 {
 
  cursor: not-allowed; 
}



nav {
 
  color: #EFEFEF; 
}
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-decoration: none;
  }
    nav .container object {
      width: 4.5em;
      padding: 1.2em 0.5em; 
    }
    nav .container .login-button,
    nav .container .bikes-button {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 1em 1.25em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer; 
    }

.nav-menu {
  color: #EFEFEF;
  display: flex;
  justify-content: center; 
}
  .nav-menu .container {
    padding: 1.5em;
    display: flex; 
  }
   
      .nav-menu .container ul li {
        padding: 0.25em 2em; 
        text-decoration-style: none;
      }
        .nav-menu .container ul li:first-child {
          text-transform: uppercase;
          color: #C3FF00;
          letter-spacing: 0.05em; 
        }

.hide {
  display: none; 
}
/* START FOOTER */
#footer{
  padding-top: 25px;
  padding-bottom:20px;
  background-color: #ff0000;
}
h4{
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom:12px;
}
.footer-text {
  color: #ffffff;
  line-height: 0.6;
}
.footer-wrap {
  display: flex;
  justify-content: center;
}
.foot-center{
text-align: center;
}
.social-foot-icons{
text-align: center;
margin: 80px 0 0 0;
}
.copyright {
display: flex;
justify-content: center;
margin: 12px 0 0 0;
color: #ffffff;
}

