
body{
  background-color: black;
}

h1 {
  font-family: 'Oleo Script';
  color: #fff;
  text-align: center;
  padding-left: 42px;
}
.container-fluid {
  padding: 3% 5%;
}

hr{
  color: #808389;
  font-size: 3rem;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.shop-button {
  margin-bottom: 60px;
  font-family: 'Assistant', sans-serif;


}

.shop-text {
  font-family: 'Assistant', sans-serif;
  color: #fff;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem 0;
}
.navbar-brand {
  font-family: 'Oleo+Script';
  font-size: 1.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#main-image{
  max-width: 100%;
  margin: 10px 0 10px 125px; 
  text-align: center;
}

@media (max-width: 1330px) {
  #main-image {
    margin: 10px 8px 10px 8px;
  }
}



/* *** ABOUT US *** */
#about-us {
  text-align: center;
  color: #fff;
  background-color: black;
}
.download-button {
  margin: 5% 3% 5% 0;
}

.our-story {
  font-family: 'Assistant', sans-serif;
}

/* *** END ABOUT US *** */

/* LOCATION SECTION */
#location {
  background-color: #dbd653;
  padding-bottom: 40px;

  /* margin: 20px; */
}
#hours  {
  text-align: center;
  padding-left: 20px;
  color: black;
  text-transform: uppercase;
}

.section-text {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;

}
/* END LOCATION SECTION */

/* RESOURCES */
#resources  {
  padding-bottom: 40px;
}
.black-heading  {
  color: white;
}
.black-heading2  {
  color: white;
  padding-top: 70px;
}
.repair-p {
  color: white;
}
.block1  {
  display: inline-block;
  width: 230px;
  padding-left: 45px;

  padding-right: 70px;
}

.block2 {
  display: inline-block;
  width: 230px; 
   padding-right: 70px;
   padding-left: 45px;

}
.block2 img{
  padding-top: 20px;
  display: inline-block;
  max-width: 110%;
  text-align: center;
  height: auto;
}
.block3  {
  display: inline-block;
  width: 230px;
  height: 100px;
  padding-right: 50px;
  padding-left: 70px;

}




